{% extends "block--no-wrapper.html.twig" %}
{#
/**
 * @file
 * Theme override for the site branding block.
 */
#}

{% block content %}
  <div class="branding-wrapper container content-large">
    {% if site_logo %}
      <div class="logo-wrapper">
        <a href="{{ path('<front>') }}" title="{{ 'Owen T.S. Cooper Homepage'|t }}" rel="home" class="logo">
          <img src="/{{ base_path ~ directory }}/static/images/owen-photo.jpg" alt="{{ 'Owen T. S. Cooper headshot'|t }}"/>
        </a>
      </div>
    {% endif %}
    <div class="header-text">
      <strong>Owen Cooper</strong>
      <div class="subtitle">{{ config_pages_field('site_settings', 'field_resume_subtitle') }}</div>
    </div>
  </div>

{% endblock %}
