
<div{{ attributes.addClass(
'layout-container'
) }}>

  <!-- HEADER -->
  <header>
    <div id="site-header" class="container">

      {# Hamburger navigation trigger #}
{#      <div id="hamburger-navigation">#}
{#        <button id="hamburger" class="hamburger hamburger--squeeze" type="button"#}
{#                aria-label="Menu" aria-controls="navigation-panel" aria-expanded="false">#}
{#          <span class="hamburger-label">Menu</span>#}
{#          <span class="hamburger-box">#}
{#          <span class="hamburger-inner"></span>#}
{#        </span>#}
{#        </button>#}
{#      </div>#}

{#      <div class="navigation-wrapper">#}

{#        <div id="navigation-panel">#}
{#          <div class="wrapper__menu--main">{{ drupal_menu('main', 1, 2, TRUE) }}</div>#}
{#        </div>#}

{#      </div>#}

{#      <div class="navigation-wrapper-desktop">#}
{#        <div class="wrapper__menu--main">{{ drupal_menu('main', 1, 1) }}</div>#}
{#      </div>#}

      {% if page.header %}
        {{ page.header }}
      {% endif %}

    </div><!-- /#site-header -->

  </header>

  <!-- MAIN PAGE CONTENT -->
  <main id="main-content" tabindex="-1">

    <!-- PRE-CONTENT -->
    {% if page.pre_content %}
      <div id="pre-content">
        <div class="container">
          {{ page.pre_content }}
        </div><!-- /.container -->
      </div><!-- /#pre-content -->
    {% endif %}

    <!-- PRIMARY-CONTENT -->
    <div id="primary-content">
        <div class="container">

            <div id="content">
              {% if is_front %}
                <h1 class="visually-hidden">Homepage</h1>
              {% endif %}



                {{ page.content }}




            </div><!-- /#content -->
        </div><!-- /.container -->
    </div><!-- /#primary-content -->

  </main>

    <!-- FOOTER -->
    <footer class="margin-top">
        <div class="footer-wrapper container padded-row content-large">

          <div id="footer-first">
            <div class="footer-first-wrapper">
              <div class="text__large">Owen T. S. Cooper</div>
              &#169;{{ "now"|date('Y') }} All rights reserved.
            </div>

          </div><!-- /#footer-first -->

          <div id="footer-second">
            <div class="footer-second-wrapper"></div>
          </div><!-- /#footer-second -->

          <div id="footer-third">
              <div class="footer-third-wrapper"></div>
           </div><!-- /#footer-third -->

        </div><!-- /.container -->
    </footer>

</div><!-- /.layout-container -->
