
<div{{ attributes.addClass(
  'layout-container'
) }}>

  <!-- HEADER -->
  <header>
    <div id="site-header" class="container">


    </div><!-- /#site-header -->

  </header>

  <!-- MAIN PAGE CONTENT -->
  <main id="main-content" tabindex="-1">


    <!-- PRIMARY-CONTENT -->
    <div id="primary-content">
      <div class="container">

        <div id="content">
          {% if is_front %}
            <h1 class="visually-hidden">Homepage</h1>
          {% endif %}



          {{ page.content }}




        </div><!-- /#content -->
      </div><!-- /.container -->
    </div><!-- /#primary-content -->

  </main>

  <!-- FOOTER -->
  <footer class="margin-top-large">
    <div class="footer-wrapper container padded-row content-large">

      <div id="footer-first">
        <div class="footer-first-wrapper">
          <div class="copyright-info">Owen T. S. Cooper | &#169; {{ "now"|date('Y') }} All rights reserved.</div>
        </div>
        <div class="social-men-wrapper-blogs margin-top-x-small" role="navigation" aria-label="Social Media Links in Header">
          <ul class="menu">
            <li><a href="{{ config_pages_field('site_settings', 'field_personal_linkedin_link').0 }}" target="_blank" class="linkedin">
                <span class="sr-only">Linkedin</span>
                <i class="icon"></i>
              </a>
            </li>
            <li><a href="{{ config_pages_field('site_settings', 'field_personal_youtube_link').0 }}" target="_blank" class="youtube">
                <span class="sr-only">Youtube</span>
                <i class="icon"></i>
              </a>
            </li>
            <li><a href="{{ config_pages_field('site_settings', 'field_personal_instagram_link').0 }}" target="_blank" class="instagram">
                <span class="sr-only">Instagram</span>
                <i class="icon"></i>
              </a>
            </li>
          </ul>

        </div>


      </div><!-- /#footer-first -->



    </div><!-- /.container -->
  </footer>

</div><!-- /.layout-container -->
