
<div{{ attributes.addClass(
'layout-container'
) }}>

  <!-- HEADER -->
  <header>
    <div id="site-header" class="container">

      {# Hamburger navigation trigger #}
{#      <div id="hamburger-navigation">#}
{#        <button id="hamburger" class="hamburger hamburger--squeeze" type="button"#}
{#                aria-label="Menu" aria-controls="navigation-panel" aria-expanded="false">#}
{#          <span class="hamburger-label">Menu</span>#}
{#          <span class="hamburger-box">#}
{#          <span class="hamburger-inner"></span>#}
{#        </span>#}
{#        </button>#}
{#      </div>#}

{#      <div class="navigation-wrapper">#}

{#        <div id="navigation-panel">#}
{#          <div class="wrapper__menu--main">{{ drupal_menu('main', 1, 2, TRUE) }}</div>#}
{#        </div>#}

{#      </div>#}

{#      <div class="navigation-wrapper-desktop">#}
{#        <div class="wrapper__menu--main">{{ drupal_menu('main', 1, 1) }}</div>#}
{#      </div>#}

      {% if page.header %}
        <div class="social-men-wrapper" role="navigation" aria-label="Social Media Links in Header">
          <ul class="menu">
            <li><a href="{{ config_pages_field('site_settings', 'field_personal_youtube_link').0 }}" target="_blank" class="youtube">
                <span class="sr-only">Youtube</span>
                <i class="icon"></i>
              </a>
            </li>
            <li><a href="{{ config_pages_field('site_settings', 'field_personal_linkedin_link').0 }}" target="_blank" class="linkedin">
                <span class="sr-only">Linkedin</span>
                <i class="icon"></i>
              </a>
            </li>
          </ul>

        </div>
        {{ page.header }}
      {% endif %}

    </div><!-- /#site-header -->

  </header>

  <!-- MAIN PAGE CONTENT -->
  <main id="main-content" tabindex="-1">

    <!-- PRE-CONTENT -->
    {% if page.pre_content %}
      <div id="pre-content">
        <div class="container">
          {{ page.pre_content }}
        </div><!-- /.container -->
      </div><!-- /#pre-content -->
    {% endif %}

    <!-- PRIMARY-CONTENT -->
    <div id="primary-content">
        <div class="container">

            <div id="content">
              {% if is_front %}
                <h1 class="visually-hidden">Homepage</h1>
              {% endif %}



                {{ page.content }}




            </div><!-- /#content -->
        </div><!-- /.container -->
    </div><!-- /#primary-content -->

  </main>

    <!-- FOOTER -->
    <footer class="margin-top">
        <div class="footer-wrapper container padded-row content-large">

          <div id="footer-first">
            <div class="footer-first-wrapper">
              <div class="copyright-info">Owen T. S. Cooper | &#169; {{ "now"|date('Y') }} All rights reserved.</div>
              <div class="social-men-wrapper" role="navigation" aria-label="Social Media Links in Footer">
                <ul class="menu">
                  <li><a href="{{ config_pages_field('site_settings', 'field_personal_youtube_link').0 }}" target="_blank" class="youtube">
                      <span class="sr-only">Youtube</span>
                      <i class="icon"></i>
                    </a>
                  </li>
                  <li><a href="{{ config_pages_field('site_settings', 'field_personal_linkedin_link').0 }}" target="_blank" class="linkedin">
                      <span class="sr-only">Linkedin</span>
                      <i class="icon"></i>
                    </a>
                  </li>
                </ul>

              </div>
              <div class="wolfpack-logo-wrapper">
                <a href="{{ config_pages_field('site_settings', 'field_waring_robotics_website').0 }}" title="{{ 'Wolfpack Machina website'|t }}" target="_blank">
                  <img src="{{ base_path ~ directory }}/static/images/wolfpackmachina-logo.png" alt="{{ 'Wolfpack Machina logo'|t }}"/>
                </a>
              </div>
            </div>

          </div><!-- /#footer-first -->

          <div id="footer-second">
            <div class="footer-second-wrapper"></div>
          </div><!-- /#footer-second -->

          <div id="footer-third">
              <div class="footer-third-wrapper"></div>
           </div><!-- /#footer-third -->

        </div><!-- /.container -->
    </footer>

</div><!-- /.layout-container -->
