{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isSticky() ? 'node--sticky',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<section {{ attributes.addClass(classes)}}>

  <div class="page-title-wrapper container content-small padded-row vertical-flow">
    <h1{{ title_attributes }} class="page-title">{{ node.label }}</h1>
  </div>

{#  {% if content.body|render %}#}
{#    <div class="content-wrapper container content-small padded-row vertical-flow">#}
{#      {{ content.body }}#}
{#    </div>#}
{#  {% endif %}#}

  <div class="content-wrapper container content-small padded-row vertical-flow">
    {{ content }}
  </div>

</section>
