{{ attach_library('owen/fancybox') }}

{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isSticky() ? 'node--sticky',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'padded-column',
] %}

<section {{ attributes.addClass(classes)}}>

  <h2 class="mobile padded-row text__allcaps">Highlight Reel</h2>

  {% if content.field_highlight_carousel|render %}
    <div class="highlight-carousel-wrapper container content-large margin-bottom">
      {{ content.field_highlight_carousel }}
    </div>
  {% endif %}

  <div class="content-wrapper container content-large padded-row">

    <div class="column-wrapper col-a">

      {% if content.field_work_leadership|render %}
        <div class="work-leadership-wrapper vertical-flow">
          <h2 class="text__allcaps">Work & Leadership Experience</h2>
          {{ content.field_work_leadership }}
        </div>
      {% endif %}

    </div>

    <div class="column-wrapper col-b">

      {% if content.field_education_rte|render %}
        <div class="education-wrapper separator vertical-flow">
          <h2 class="text__allcaps">Education</h2>
          {{ content.field_education_rte }}
        </div>
      {% endif %}

      {% if content.field_distinctions_rte|render %}
        <div class="distinctions-wrapper separator vertical-flow">
          <h2 class="text__allcaps">Distinctions</h2>
          {{ content.field_distinctions_rte }}
        </div>
      {% endif %}

      {% if content.field_skills_rte|render %}
        <div class="skills-wrapper separator vertical-flow">
          <h2 class="text__allcaps">Skills</h2>
          {{ content.field_skills_rte }}
        </div>
      {% endif %}

      {% if content.field_interests_rte|render %}
        <div class="interests-wrapper separator vertical-flow">
          <h2 class="text__allcaps">Interests</h2>
          <div class="interests-inner-wrapper vertical-flow-small">{{ content.field_interests_rte }}</div>

          {% if content.field_personal_portfolio_label|render %}

            {% set title = node.field_personal_portfolio_label.value %}
            {#Use the label as attribute values but strip unwanted characters and replace spaces wish dashes#}
            {% set titleID = title|lower|replace({'!': '', '?': '', ',': '', ' ': '-',}) %}

            <div class="portfolio-section vertical-flow-small">
              <button id="{{ titleID }}--button"
                      class="accordion__button"
                      aria-controls="{{ titleID }}--content"
                      aria-expanded="false">
                <strong class="accordion-title">{{ title }}</strong>
              </button>

              <div id="{{ titleID }}--content"
                   class="accordion__content"
                   aria-labelledby="{{ titleID }}--button"
                   aria-hidden="true">

                {% if content.field_personal_portfolio_intro|render %}
                  <div class="portfolio-intro vertical-flow-small text__small">{{ content.field_personal_portfolio_intro }}</div>
                {% endif %}

                {% if content.field_personal_portfolio_videos|render %}
                  <div class="portfolio-videos vertical-flow-small">{{ content.field_personal_portfolio_videos }}</div>
                {% endif %}

              </div>

            </div>


          {% endif %}

        </div>
      {% endif %}

    </div>

  </div>

</section>
