
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isSticky() ? 'node--sticky',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  override,
] %}

<section {{ attributes.addClass(classes)}}>

  <div class="banner container content-large padded-row margin-top vertical-flow-large">
    <div class="image-wrapper">
      {{ content.field_main_image }}
      {% if content.field_caption|render %}
        <div class="caption-wrapper">
          {{ content.field_caption }}
        </div>
      {% endif %}
    </div>

    <div class="text-wrapper">
      <div class="inner-wrapper">
        <div class="blog-title-wrapper">
          <h1{{ title_attributes }} class="page-title">{{ node.label }}</h1>
        </div>
        <div class="blog-date-wrapper">
          {{ content.field_publication_date }}
        </div>
      </div>
    </div>
  </div>


  {% if content.field_components|render %}
    <div class="content-wrapper container vertical-flow-large">
      {{ content.field_components }}
    </div>
  {% endif %}


  <div class="paging-wrapper container content-small padded-row">
    <div class="flippy-wrapper container margin-bottom">
      {{ content.flippy_pager}}
    </div>

    <div class="blog-landing-link-wrapper container margin-bottom-large"><a href="/rwanda" class="button">Robotics and STEM Outreach in Rwanda</a></div>

  </div>


</section>
