
{%
  set classes = [
  'tiles',
  'container',
  'alternating-layout',
]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="media-wrapper tiles-item">
    {{ content.field_image }}
  </div>

  <div class="text-wrapper tiles-item">

    <div class="heading-item-wrapper vertical-flow-small">
      <h3 class="h2">{{ paragraph.field_item_heading.value }}</h3>
    </div>

    <div class="text-item-wrapper vertical-flow-small">
     {{ content.field_text }}
    </div>

    {% if content.field_button|render %}
      <div class="button-wrapper vertical-flow-small">
        {{ content.field_button }}
      </div>
    {% endif %}

  </div>

</article>
